<!DOCTYPE html>
<head>
    <title>Mapa</title>

    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">

</head>
<body>
<h1>Mapa campus de la UMA</h1>
{% csrf_token %}
<p id="demo"></p>
<script>
    console.log("test")
    //var obj = [{"title": "meeting", "start": "ahora"}, {"title": "meeting", "start": "ahora"}]
    var obj = {{ entidades|safe }};

    document.getElementById('demo').innerHTML = obj[0].id;
    console.log(obj)
    //print('hola');
</script>

</body>
</html>